# Downloaded by setup.sh (original pigz source)
pigz_c/

# Binaries
pigz
pigz_cc
pigz_idiomatic
pigz_debug

# Test/benchmark artifacts
*.bin
*.bin.gz
*_decomp.bin
bench_*
gunzip_err.txt

# Third-party
zopfli/
