[submodule "third_party/tcc"]
	path = third_party/tcc
	url = https://github.com/sreekotay/tinycc.git
	branch = mob
[submodule "third_party/liblfds"]
	path = third_party/liblfds
	url = https://liblfds.org/git/liblfds7.1.1
[submodule "third_party/bearssl"]
	path = third_party/bearssl
	url = https://www.bearssl.org/git/BearSSL
[submodule "third_party/curl"]
	path = third_party/curl
	url = https://github.com/curl/curl.git
[submodule "third_party/xjb"]
	path = third_party/xjb
	url = https://github.com/xjb714/xjb.git
