[submodule "third_party/tcc"]
	path = third_party/tcc
	url = https://github.com/TinyCC/tinycc.git
[submodule "third_party/bearssl"]
	path = third_party/bearssl
	url = https://www.bearssl.org/git/BearSSL
[submodule "third_party/curl"]
	path = third_party/curl
	url = https://github.com/curl/curl.git
