CompileFlags:
  Add:
    - -I../out/include
    - -Iinclude
    - -Isrc
    - -I../third_party/tcc
    - -DCC_RUNTIME_V3=1
    - -DCC_V3_DIAGNOSTICS=0
    - -DCC_ENABLE_ASYNC
    - -DCC_TCC_EXT_AVAILABLE
    - -DCONFIG_CC_EXT
